# Default ignored files
/shelf/
# Игнорировать папку target, где находятся скомпилированные файлы
target/

# Игнорировать папку m2 (локальный репозиторий Maven)
.m2/

# Игнорировать все конфигурации IDE, например для IntelliJ IDEA
.idea/

# Игнорировать файлы зависимостей Maven
*.jar
